.game-title {
  font-weight: bold;
  font-size: larger;
  color: darkgreen;
  margin: 20px;
  text-transform: uppercase;
}

.section-title {
  text-transform: uppercase;
  font-size: large;
  color: black;
  margin-bottom: 10px;
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 2px;
  border: 2px solid #879372;
  margin: 0 2px 1px 0;
  box-sizing: border-box;
}

.dot:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: #879372;
  overflow: hidden;
}

.dot-content {
  color: white;
  font-size: 13px;
  position: absolute;
  margin-left: -16px;
  margin-top: 4px;
}

.filled {
  border-color: black;
}

.filled:after {
  background-color: #000;
}

.button-space {
  margin-top: 10px;
}

.rotate-block {
  width: 100px;
  display: inline-block;
}

/*game-board*/
.main-board {
  width: 240px;
  display: inline-block;
}

.game-information {
  width: 140px;
  display: inline-block;
  vertical-align: top;
}

.game-content {
  border: 5px solid #879372;
  padding: 10px;
  margin-bottom: 20px;
  width: 380px;
}

.game-control {
  margin-top: 10px;
  text-align: center;
}

.game-control button {
  width: 56px;
  height: 56px;
  margin-left: 6px;
  margin-bottom: 6px;
  word-break: break-word;
  box-sizing: border-box;
  vertical-align: bottom;
  /* border-radius: 50%; */
  font-weight: bold;
  /* color: white; */
  /* background-color: #879372; */
  text-transform: uppercase;
  font-size: 10px;
}

.section-content {
  min-height: 60px;
  vertical-align: top;
}