.game-title {
  font-weight: bold;
  font-size: larger;
  color: darkgreen;
  margin: 20px;
  text-transform: uppercase;
}

.section-title {
  text-transform: uppercase;
  font-size: large;
  margin-bottom: 10px;
  font-weight: bold;
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 2px;
  border: 2px solid #879372;
  margin: 0 2px 1px 0;
  box-sizing: border-box;
}

.dot:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: #879372;
  overflow: hidden;
}

.dot-content {
  color: white;
  font-size: 13px;
  position: absolute;
  margin-left: -16px;
  margin-top: 4px;
  font-family: sans-serif;
}

.filled {
  border-color: #333;
}

.filled:after {
  background-color: #333;
}

.button-space {
  margin-top: 10px;
}

.rotate-block {
  width: 100px;
  display: inline-block;
}

/*game-board*/
.game-main {
  display: inline-block;
  vertical-align: top;
  width: 380px;
}

.game-board {
  width: 240px;
  display: inline-block;
  vertical-align: top;
}

.game-information {
  width: 140px;
  height: 440px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 2px 2px 1px #888888;
}

.game-content {
  border: 5px solid #879372;
  padding: 10px;
  margin-bottom: 20px;
  width: 430px;
  vertical-align: top;
  display: inline-block;
  font-family: "Orbitron", sans-serif;
  box-shadow: 10px 10px 6px #888888;
}

.game-history {
  width: 500px;
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
}

.game-control {
  margin-top: 25px;
  text-align: center;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.game-control button {
  width: 56px;
  height: 56px;
  margin-left: 6px;
  margin-bottom: 6px;
  word-break: break-word;
  box-sizing: border-box;
  vertical-align: bottom;
  border-radius: 50%;
  font-weight: bold;
  /* color: white; */
  /* background-color: #879372; */
  text-transform: uppercase;
  font-size: 10px;
  box-shadow: 2px 2px 1px #888888;
}

.section-content {
  min-height: 60px;
  vertical-align: top;
}

.game-decoration {
  width: 50px;
  display: inline-block;
}

.decorate-block .dot {
  box-shadow: 2px 2px 1px #888888;
}

.decorate-block {
  margin-bottom: 20px;
}
