body {
  margin: 0;
  font: 20px/1 Helvetica Neue, Helvetica, Arial, sans-serif;
  overflow: hidden;
  cursor: default;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  overflow-y: scroll; 
  padding: 0px 10px 30px 30px;
}

code {
  font: 20px/1 Helvetica Neue, Helvetica, Arial, sans-serif;
}
